<a href="https://colab.research.google.com/github/SyedHasnat/SyedHasnat/blob/main/Chapter_2(Variables%2C_expressions%2C_and_statements).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction to Python** (Referece: Python For Everybody)
*    Values and types
*    Variables
*  Variable names and keywords
*   Statements
*  Operators and operands
*  Expressions
*   Order of operations
*   Modulus operator
*  String operations
*  Asking the user for input

**Values and Types**

In [ ]:
#simply i want to print my name hasnat like cout<<"hasnat";(in c++)
print('hasnat')
print(6)

hasnat
6

In [ ]:
#here you can also check the data type wether it is float,string or integer etc
a=3
type(a)

int

In [ ]:
b='hasnat' #just like you would not declare that it is float or string etc (string b; int a; //in c++)
type(b)

str

In [ ]:
#you can also use the function type in this way like
type(3.99)

float

In [ ]:
#don't use commas in numeric values like
print(10,000)

10 0

In [ ]:
#now to print it properly you have to omit commas like
print(10000)

10000

**Variables**

In [ ]:
#assihning a value to a variable 
a=3 #99a=3 is invalid due to a numer in the start a@=5 is inavlid due to character @
#note that assignment statement produces no output although in MatLab it can produce

**Operators and operands**
 operators +, -, * , /, and ** perform addition, subtraction,multiplication, division and exponentiation

In [ ]:
a=2
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)

5
-1
6
0.6666666666666666
8

**Expressions**  expression is a combination of values, variables, and operators.

In [ ]:
x=3
sum=x+2
print(sum)

5

**Order of operations** 
For mathematical operators, Python follows mathematical convention. The acronym PEMDAS is a useful way to remember the rules
paranthesis, exponent, multiplication, divivsion, addition, subtraction

In [ ]:
#2**1+1 is 3, not 4, and 3*1**3 is 3, not 27
print(2**1+1) 
print(3*1**3)

3
3

**Modulus operator**

In [ ]:
quotient = 7 // 3 
print(quotient)
remainder = 7 % 3
print(remainder)
#simply by // this we can get quotient and by % we can get remainder just like C++

2
1

**String operations**

In [ ]:
a='2'
b='3'
print(a+b) #here + is just to concatenate it's not mathematicall addition like
a=2
b=3
print(a+b)

23
5

**Asking the user for input**

In [ ]:
city=input('enter your city name: ')
print(city)

enter your city name: Mardan
Mardan

In [ ]:
#if you want to find area and you want the lenth should be entered by the user so what would you do
length=input('length= ')
width=input('width= ')
#note the data taken by input funtion will be a string nature you can varif it by typing type(city)
#for this first change the data type from string to int or float
area=float(length)*float(width)
print('area= ', area)

length= 3
width= 4
area=  12.0